@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --dark: #262626;
    --grey: #333333;
    --orange: #ff9900;
    --easy: #00B8A3;
    --medium: #ffc01e;
    --hard: #df3255;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* font-family: "Pixelify Sans", sans-serif; */
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: black;
}


.appCont {
    padding-block: 20px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.panelCont {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.panel {
    padding: 20px;
    background-color: var(--dark);
    margin: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    height: 90vh;
}

.probPanel {
    margin-right: 0;
    /* background-color: red; */
    border-top: 50px var(--grey) solid;
    /* resize: horizontal;
    overflow: auto; */
}

.probItem {
    font-size: 1.2rem;
    margin-top: 15px;
}

.solPanel {
    border-top: 50px var(--grey) solid;
    margin-left: 0;
}

.codeArea {
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    outline: none;
    border: 0;
    font-size: 1rem;

}

.example {
    font-size: 1rem;
}

pre {
    margin-top: 10px;
    border-left: solid var(--grey);
    padding-left: 20px;
}